@import url(https://db.onlinewebfonts.com/c/c07d5c6528b6cc0eac08afd7a3199657?family=TrajanPro-Regular);

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* --background: 0 0% 100%; */
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    /* --background: 222.2 84% 4.9%; */
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}

.custom-bg {
  background: linear-gradient(245.93deg, rgba(209, 21, 111, 0.16) 0%, rgba(209, 25, 80, 0) 36.63%), linear-gradient(186.67deg, rgba(56, 0, 169, 0.2) 17.55%, rgba(56, 0, 169, 0.2) 21.02%, rgba(58, 19, 255, 0) 91.62%), #13111C;
  background-origin: border-box;
  background-clip: border-box;
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

img, video {
  max-width: unset;
  height: auto;
}

.p-24 {
  padding: 1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px; /* Abstand zwischen den Button-Gruppen */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Abstand zwischen den Buttons innerhalb der Gruppe */
}

.button {
  /* Ihr Button-Styling */
}
.anpassungen{
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.headerbutton{
  font-weight: 600;
}

.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #f31414 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.button-22 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #2f14f3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-22:active,
.button-22:focus {
  outline: none;
}

.button-22:hover {
  background-position: -20px -20px;
}

.button-22:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}


.justify-center {
  justify-content: unset;
}

input[type=file] {
  display: none;
}

label[for=file] {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
  justify-items: center;
  align-content: center;
  color: #E91E63;
  border: 0.2em solid #E91E63;
  background: rgba(0, 0, 0, 0);
  padding: 0.85em 1.5em;
  border-radius: 2em;
  transition: 1s;
  margin-top: 27px;
  margin-bottom: 10px;
}
label[for=file]:hover, label[for=file]:focus, label[for=file]:active {
  background: #E91E63;
  color: #fff;
}
.uploadicon{
  align-self: center;
}

.fixed.bottom-0.left-0.flex.h-48.w-full.items-end.justify-center.bg-gradient-to-t.from-white.via-white.dark\:from-black.dark\:via-black.lg\:static.lg\:h-auto.lg\:w-auto.lg\:bg-none {
display: block;
}

.mylogo{
  margin-bottom: 10px;
}
.z-10.w-full.max-w-5xl.items-center.justify-between.font-mono.text-sm.lg\:flex {
  z-index: 0;
}
p.fixed.left-0.top-0.flex.w-full.justify-center.border-b.border-gray-300.bg-gradient-to-b.from-zinc-200.pb-6.pt-8.backdrop-blur-2xl.dark\:border-neutral-800.dark\:bg-zinc-800\/30.dark\:from-inherit.lg\:static.lg\:w-auto.lg\:rounded-xl.lg\:border.lg\:bg-gray-200.lg\:p-4.lg\:dark\:bg-zinc-800\/30 {
font-size: 30px;
}

@media (max-width: 1023px){
  .fixed.bottom-0.left-0.flex.h-48.w-full.items-end.justify-center.bg-gradient-to-t.from-white.via-white.dark\:from-black.dark\:via-black.lg\:static.lg\:h-auto.lg\:w-auto.lg\:bg-none {
    display: inline-flex;
  }
  .z-10.w-full.max-w-5xl.items-center.justify-between.font-mono.text-sm.lg\:flex {
    z-index: 1;
  }
  .pointer-events-none {
    pointer-events: painted;
  }
}
.h-16 {
  height: 5rem;
}
.mylogo {
   margin-bottom: 0;
 }

.box {
  overflow: hidden;
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-15%, -50%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "TrajanPro-Regular", serif;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "TrajanPro-Regular", serif;
}

.buttons .btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
}

.buttons .primary {
  background-color: blue;
  color: white;
}

.image img {
  max-width: 100%;
  height: auto;
  margin-left: 40px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.feature {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

a.border-transparent.text-gray-500.hover\:text-gray-700.hover\:border-gray-300.inline-flex.items-center.px-1.pt-1.border-b-2.text-sm.font-medium {
  font-weight: 600;
  font-size: 20px;
}

a.border-slate-500.text-gray-900.inline-flex.items-center.px-1.pt-1.border-b-2.text-sm.font-medium {
  font-weight: 600;
  font-size: 20px;
  border-bottom: 3px solid #505100;
}

.border-b-2 {

  margin-bottom: 3px;
}

.mx-auto {
  margin-left: unset;
  margin-right: unset;
}
.max-w-screen-xl {
  max-width: unset;
}
.items-center {
  align-items: baseline;
}

.jsx-1e4e1f6e85963feb.flex-1.mt-10.space-y-6.items-center.justify-between.sm\:flex.md\:space-y-0.md\:mt-0 {
  justify-content: space-evenly;
}

.hidden.sm\:-my-px.sm\:ml-6.sm\:flex.sm\:space-x-8 {
  margin-top: 25px;
}
.-mr-2.flex.items-center.sm\:hidden {
  align-items: center;
}
.-mr-2.flex.items-center.sm\:hidden path {
  color: black;
}
button#headlessui-disclosure-button-\:R1lkq\: {
  width: 50px;
  height: 50px;
}
svg.block.h-6.w-6 {
  height: 30px;
  width: 30px;
}
.max-w-xs {
  max-width: 33rem;
}
.border {
  border-width: 0;
}
.border-t {
  border-top-width: 1px;
  border-top-color: black;
}

.hover\:text-indigo-600:hover {
  color: #30005b !important;
}